*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent{
    background: black;
    padding: 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:cursive;
}
#box {
    padding: 10px;
    height: 20vh; 
    width: 100%;
    /* margin: 10px 0; */
    max-width:fit-content; /* Optional: stops text from stretching too wide on desktop */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto; /* Adds a scrollbar if a quote is incredibly massive */
}
#allQ{
    margin: 1rem;
    overflow: scroll;
}

#btn{
    margin: 1rem;
    font-size: 1.25rem;
    font-family: monospace;
    padding: 15px;
    background: rgb(129, 235, 129);;
}

@media (max-width: 460px) {
    #allQ{
        font-size: 1.2rem;
    }
    #btn{
        font-size: 1rem;
        padding: 10px;
        margin: 0.25rem;
    }
  }

#btn:active{
    background-color: greenyellow;
    border: 2px solid green;
}